.about2{
    padding-bottom: 48px;

}
.typewriterWrapper {
    font-size: 2.2em;
    color: #be6adf;
    font-weight: 600;
  }
  .typewriterCursor {
    font-size: 2.4em;
    color: #b562d6;
  }
.about-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.picture{
    height: 420px;
    
}
.about-info{
    font-size: 24px;

}
.info-name{
    color: blue;
    font-size: 32px;
}

@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture{
        height: 280px;
    }
    .about-photo{
        display: none;
    }
    
    .about-info{
        font-size: 20px;
    }

    .info-name{
        font-size: 26px;
    }
}
