.about{
    padding-bottom: 48px;

}

  .download{
      margin-top:100px;
    background-color: aquamarine;
    padding:8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}
.social-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon-div{
    padding: 6px;
    cursor: pointer;
    margin: 6px;
}
.social-icon{
    height: 80px;
}

.about-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.picture{
    height: 420px;
}
.about-info{
    font-size: 24px;

}
.info-name{
    color: blue;
    font-size: 32px;
}

@media only screen and (max-width: 720px) {
    .about-top{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .about-photo{
        display:none;
    }
    .social-icon{
        height: 32px;
    }
    .download{
        font-size: 16px;
    }

    .picture{
        height: 280px;
    }
    .resume{
        margin-top:4%;
    }
    .about-info{
        font-size: 20px;
    }

    .info-name{
        font-size: 26px;
    }
}
